// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
  padding: 10px;
}

ul li {
  list-style: none;
  padding: 15px;
}